.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}
.title{margin: 20px 15px 10px;color: #6d6d72;font-size: 15px;}			
.oa-contact-cell.mui-table .mui-table-cell {padding: 5px 0;vertical-align: middle;}			
.oa-contact-cell {position: relative;margin: -11px 0;}
.oa-contact-avatar {width: 75px;}
.oa-contact-avatar img {border-radius: 50%;width:80%}
.oa-contact-content {width: 100%;}
.oa-contact-name {margin-right: 20px;color: #000000;}
.mui-card {padding:10px;    padding-top: 0;}
.mui-button-row {margin:10px 15px 0;}
.mui-btn-block {padding:5px}

.commonc .mui-content {padding-bottom:70px;}
