<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>常州OA-登录</title>
    <script src="js/mui.min.js"></script>
    <script src="js/zepto.js"></script>
    <script src="js/angular-1.0.1.js"></script>
    <!--<script src="js/angular.js"></script>-->
    <script src="js/angular-cookies.js"></script>
    <script src="js/common.js"></script>
    <link href="css/mui.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body>
<div class="mui-content-padded login" ng-app="app" ng-controller="login">
    <form>
        <div class="mui-input-row">
            <img class="logo" src="images/logo.png" />
        </div>
        <div class="mui-input-row">
            <input required class="mui-input-text" ng-model="userName"  id="userName" type="text" placeholder="用户名">
        </div>
        <div class="mui-input-row mui-password">
            <input required type="password" id="password" ng-model="password" class="mui-input-password" placeholder="密码">
        </div>
        <div class="mui-input-row error">
            <span ng-if="userName.$error.required" ng-hide="userName">用户名</span>
            <span ng-if="password.$error.required" ng-hide="password">密码</span>
            <span ng-hide="password && userName">必须填写</span>
            <span ng-if="userName && password">{{msg}}</span>
        </div>
        <div class="mui-button-row">
            <button type="submit" ng-click="login()" class="mui-btn mui-btn-primary mui-btn-block ">登录</button>
        </div>
    </form>
</div>
<script type="text/javascript" charset="utf-8">
    $(".mui-btn-primary").on('tap',function(){
        //window.location = 'index.html'
    })

    angular.module('app',["ngCookies"])
            .controller('login',function($scope,$http,$cookieStore){
                // 从cookie中取得用户名和密码
                $scope.userName = $cookieStore.get("ChangZhouOAUserName");
                $scope.password = $cookieStore.get("ChangZhouOAPassword");
                // 登陆按钮点击
                $scope.login = function (){
                    // 参数编辑
                    var para = [{key:"userName",value:$scope.userName},{key:"password",value:$scope.password}];
                    // 用户登陆
                    $http.get("/oa/test_json/userLogin.json")
                        .success(function(response){
                            if(response.status == 0000){
                                // 用户名密码存入cookie
                                $cookieStore.put("ChangZhouOAUserName",$scope.userName);
                                $cookieStore.put("ChangZhouOAPassword",$scope.userName);
                                // 用户id存入cookie
                                $cookieStore.put("ChangZhouOAUserID",response.userId);
                                console.log('登录成功');
                                window.location = 'index.html';
                            }else if (response.status == 0001){
                                console.log(response.msg);
                                $scope.msg = response.msg;
                            }
                        })
                }
            })
</script>
</body>
</html>